{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}

<!DOCTYPE html>
<head>
    <div class="container">
    {% block head %}{% endblock head %}
    {% block navbar %}
        <nav class="nav-wrapper">
            <a href="#" class="brand-logo right">Logo</a>
              <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="{% url 'statify:profile' %}">Profile</a></li>
              </ul>
        </nav>
    {% endblock navbar %}
    </div>
</head>
<body>
    <div class="container">
    {% block body %}{% endblock body %}
    </div>
</body>
