{% load static %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery.js' %}"></script>
{% include 'material/includes/material_js.html' %}

<!DOCTYPE html>
<head>
    <div class="container">
    <h1>
        <a href="{% url 'statify:login_user' %}" style="color: black !important">Statify</a>
        <i class="material-icons medium">queue_music</i>
    </h1>
    {% block navbar %}{% endblock navbar %}
    {% block head %}{% endblock head %}
    </div>
</head>
<body>
    <div class="container">
    {% block body %}{% endblock body %}
    </div>
</body>
